aiohttp>=3.0.0
aiohttp_jinja2>=1.0.0
aioconsole>=0.1.14
anyconfig>=0.11.1
discord.py>=2.0.0
docutils>=0.16
emoji>=1.6.2
hangups>=0.4.11
jinja2>=2.6
peewee>=3.0.0
ptpython>=2.0.1
ruamel.yaml>=0.15.75
telethon>=1.9.0
tortoise-orm>=0.15.0
uvloop>=0.12.0
