{%- macro open_icon(state) -%}
  {%- if state == immp.OpenState.disabled -%}
  eye-slash
  {%- elif state == immp.OpenState.active -%}
  circle
  {%- elif state == immp.OpenState.inactive -%}
  ban
  {%- elif state == immp.OpenState.failed -%}
  exclamation-triangle
  {%- else -%}
  hourglass-half
  {%- endif -%}
{%- endmacro -%}

{%- macro open_colour(state) -%}
  {%- if state == immp.OpenState.active -%}
  success
  {%- elif state == immp.OpenState.inactive -%}
  danger
  {%- elif state == immp.OpenState.failed -%}
  warning
  {%- endif -%}
{%- endmacro -%}

{%- macro render_doc(doc, doc_html) -%}
  {%- if doc -%}
    <h3 class="title">Documentation</h3>
    {%- if doc_html -%}
      <div class="box content">
        {{ doc_html | safe }}
      </div>
    {%- else -%}
      <pre>{{ doc }}</pre>
    {%- endif -%}
  {%- endif -%}
{%- endmacro -%}
